.text-container{
    text-align:center;
    
}

.bg-coffee{
    background-color:coral;
}

.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
.button{
  
}
